---
let base = import.meta.env.BASE_URL.replace(/\/$/, ''); // Remove trailing slash

const projects = [
  {
    name: 'Dune Awakening',
    img: `dune-awakening.jpg`,
    link: 'https://www.duneawakening.com',
    description: `We are no strangers to treacherous waters and shifting tides—but now, we find ourselves in a sea of sand. As part of <a href="https://www.funcom.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">Funcom</a>’s grand expedition into Frank Herbert’s Dune universe, we have spent nearly four years diving deep into the intricate systems of a highly customized Unreal Engine 5, working side by side with <a href="https://www.funcom.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">Funcom</a>'s team as co-developers. Our seamless integration speaks volumes about our ability to adapt, collaborate, and thrive within a large-scale production.`,  
    additionalImages: [
      /* copy paste this block to add more images with text under additional images inside a project
      {
        img: `dune-awakening.jpg`,
        text: 'Additional text describing more details about the project or its progress.',
      }, 
      */
      {
        img: `dune-awakening-gameplay.jpg`,
        text: `Like the Spice Harvesters braving the sands of Arrakis, we navigate <a href="https://duneawakening.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2">Dune: Awakening</a>’s complex systems with precision, ensuring performance, stability, and gameplay excellence. This was our sandwalk during this journey:<br><br>
              <strong>Rendering</strong> – Bringing the sands of Arrakis to life<br>
              <strong>Networking</strong> – Ensuring seamless multiplayer experiences<br>
              <strong>Server & Client Infrastructure</strong> – The backbone of stability<br>
              <strong>Performance Optimization</strong> – Pushing Unreal Engine 5 to its limits<br>
              <strong>General Gameplay & UI/UX</strong> – Crafting immersive player interactions<br>
              <strong>Production & Planning</strong> – Keeping the journey on course<br><br>
              <strong><a href="https://store.steampowered.com/app/1172710/?snr=1_5_9__205" class="underline">It's out now!</a></strong>`
      }, 
    ],
  },
      /*   copy paste this block to add a new seperate project, same logic applies for additional images
      {
    name: 'Project Two',
    img: `dune-awakening.jpg`,
    description: 'This is another exciting project that only has a single image with description.',
    additionalImages: [

    ],
  }, 
    */
];



---

<section class="py-12 sm:py-16">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Current Project</h2>
      <div class="grid gap-8 lg:grid-cols-1">
        {
          projects.map((project) => (
            <div class="bg-primary-500/10 dark:bg-transparent dark:border dark:border-[#cf7e52] flex flex-col gap-6 sm:gap-12 rounded-3xl px-6 py-4 sm:py-8">
              <a href={project.link} target="_blank" rel="noopener noreferrer">
                <img class="w-full h-auto object-cover cursor-pointer" src={`${base}/assets/${project.img}`} alt={project.name} />
              </a>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{project.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg" set:html={project.description}></p>
              </div>
              {
                project.additionalImages && project.additionalImages.length > 0 && (
                  <div class="flex flex-col gap-8">
                    {project.additionalImages.map((image, index) => (
                      <div key={index} class="flex flex-col gap-4">
                        <a href={project.link} target="_blank" rel="noopener noreferrer">
                          <img class="w-full h-auto object-cover cursor-pointer" src={`${base}/assets/${image.img}`} alt={`Additional image ${index + 1}`} />
                        </a>
                        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg" set:html={image.text}></p>
                        </p>
                      </div>
                    ))}
                  </div>
                )
              }
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>