---
let base = import.meta.env.BASE_URL.replace(/\/$/, ''); // Remove trailing slash

const projects = [
  {
    step: '01',
    name: '[GAME]',
    img: `hero.webp`,
    description:
      'Our biggest project yet, where our entire team is fully integrated into Funcom, working as a natural extension of their development team. Even as co-developers we feel like part of the Funcom family—a testament to our ability to fit into large-scale teams and deliver at the highest level.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Projects</h2>
      <div class="grid gap-8 lg:grid-cols-1">
        {
        projects.map((project) => (
        <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-6 sm:gap-12 rounded-3xl px-6 py-4 sm:py-8">
              <p class="text-sm">{project.step}</p>
              <img src={`${base}/assets/${project.img}`} alt={project.name}>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{project.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {project.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
