---
let base = import.meta.env.BASE_URL.replace(/\/$/, ''); // Remove trailing slash

const services = [
  {
    step: '01',
    name: '[GAME1]',
    img: `team-1.webp`,
    description:
      'Our biggest project yet, where our entire team is fully integrated into Funcom, working as a natural extension of their development team. Even as co-developers we feel like part of the Funcom family—a testament to our ability to fit into large-scale teams and deliver at the highest level.',
  },
  {
    step: '02',
    name: '[GAME2]',
    img: `team-1.webp`,
    description:
      '[GAME2] is a brutally challenging precision platformer where you control a small, skinless cube of meat on a mission to rescue his beloved Bandage Girl from the evil Dr. Fetus. Dodge deadly saws, leap over bottomless pits, and wall-jump your way through over 300 levels of intense, twitch-reflex gameplay.',
  },
  {
    step: '03',
    name: 'Cool Project',
    img: `team-1.webp`,
    description:
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Projects</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <img src={`${base}/assets/${service.img}`} alt={service.name}>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
